.banner-mobile {
  display: flex;
  padding-bottom: 60px;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.header-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding: 20px 0;
}
.header-mobile .title {
  font-size: 38px;
  text-align: center;
}
.header-mobile .sub-title {
  font-size: 30px;
}
.button-mobile {
  display: flex;
  border: 2px solid #4deed7;
  width: 240px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.button-mobile p {
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
}
.button-mobile div {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.button-mobile span {
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-size: 14px;
}
.button-mobile i {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}

.media-group-mobile {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin: 0 auto;
}
.media-group-mobile span {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  margin-top: 10px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.button-mobile-case {
  display: flex;
  text-align: center;
  width: 100px;
  flex-direction: column;
  margin-top: 45px;
}
.button-mobile-case .media-button {
  border: 2px solid #4deed7;
  border-radius: 8px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-mobile-case .media-button i {
  color: #fff;
  font-size: 50px;
}
